* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
	height: 100%;
	font-size: 100%;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}
header {
	position: relative;
}
main {
	flex-grow: 1;
}
figure {
	margin: 0;
}
img {
	width: auto;
	height: auto;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}
iframe {
	display: block;
}
ul {
	padding: 0;
}
input,
textarea {
	padding-left: 10px;
}

.link {
	@include transition(color);

	&--primary {
		&:hover {
			color: $site-primary;
		}
	}

	&--secondary {
		&:hover {
			color: $site-secondary;
		}
	}
}

.content-width {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@include breakpoint(ipad) {
		max-width: $content-max-width;
	}
}

.button {
	font-size: 18px;
	border: none;
	color: white;
	background-color: black;
	cursor: pointer;
	@include transition(all);

	&:hover {
		filter: brightness(1.2);
	}

	&--primary {
		background-color: $site-primary;
	}
	&--secondary {
		background-color: $site-secondary;
	}
	&--white {
		background-color: white;
		color: black;

        &:hover {
            background-color: transparent;
			border: solid 2px white;
			color: white;
        }
	}
	&--transparent {
		background-color: transparent;
		border: solid 2px white;

        &:hover {
            background-color: white;
            color: black;
        }
	}
}
