

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

textarea,
button,
input {
	font-family: 'Roboto', sans-serif;

	&::placeholder {
		font-style: italic;
	}
}

p {
	font-size: 18px;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.centered {
	text-align: center;
}