
.accordion {
    width: 340px;
    margin-top: 0;

    &__list {
        list-style: none;
        padding: 0;
    }

    &__toggle {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: solid 1px $site-gray--dark;
        height: 50px;
        cursor: pointer;

        &:after {
            content: '+';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &--active {

            &:after {
                content: '';
                width: 8px;
                height: 2px;
                background-color: black;
            }
        }
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__options {
        list-style: none;
        padding-left: 40px;
        max-height: 0;
        overflow: hidden;
        @include transition(max-height);

        &--active {
            max-height: 1000px;
        }
    }

    &__option {
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: 300;
        color: black;

        &:hover {
            font-weight: 400;
        }

        &--active{
            font-weight: 400;
        }
    }
}