
.ad {
    display: flex;
    flex-direction: column;

    @include breakpoint(ipad-pro) {
        flex-direction: row;
        height: 275px;
    }

    &__image {
        width: 100vw;
        height: 50vw;

        @include breakpoint(ipad-pro) {
            height: auto;
            flex: 0 0 545px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 32px 16px;
        flex: 0 1 calc(100% - 545px);
        background-color: $site-secondary;
        text-align: center;

        @include breakpoint(ipad) {
            padding: 40px 90px;
        }

        @include breakpoint(ipad-pro) {
            padding: 20px 30px;
        }

        @include breakpoint(laptop) {
            padding: 40px 90px;
        }
    }

    &__title {
        margin: 0;
        color: white;
        font-size: 50px;
        line-height: 40px;
        font-weight: 400;

        @include breakpoint(laptop) {
            font-size: 68px;
        }
    }

    &__text {
        color: white;
        font-size: 18px;
        line-height: 25px;
        font-weight: 300;

        @include breakpoint(laptop) {
            font-size: 22px;
            line-height: 34px;
        }
    }
}