
.arrow {
    position: absolute;
    background-image: $gallery_arrow;
    background-size: contain;
    cursor: pointer;

    &--left {
        width: 30px;
        height: 30px;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
    }

    &--right {
        width: 30px;
        height: 30px;
        right: 25px;
        top: 50%;
        transform: rotate(180deg) translateY(50%);
    }

    &--up {
        width: 15px;
        height: 15px;
        left: 20px;
        top: -4px;
        transform: rotate(90deg);
    }

    &--down {
        width: 15px;
        height: 15px;
        left: calc(90px - 30px);
        transform: rotate(-90deg);
    }
}