
.banner {
    position: relative;
    margin-bottom: 35px;

    @include breakpoint(ipad) {
        height: 48vw;
    }

    &--subpage {
        height: 750px;
    }

    &__image {
        width: 100%;
        height: 48vw;
        
        @include breakpoint(ipad) {
            position: absolute;
        }
    }

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;

        @include breakpoint(ipad) {
            padding: 16px;
        }
    }

    &__text-box {
        color: white;
        background-color: #181716;
        flex: 0 0 100%;
        text-align: center;
        padding: 32px 16px;
        
        @include breakpoint(ipad) {
            flex: 0 0 50%;
            padding: 35px;
            background-color: #181716cc;
        }

        @include breakpoint(laptop) {
            padding: 75px 135px 50px 135px;
        }
    }

    &__title {
        font-size: 35px;
        font-weight: 400;
        margin: 0;

        @include breakpoint(laptop) {
            font-size: 78px;
        }
    }

    &__ingress {
        font-size: 18px;
        font-weight: 300;
        margin: 16px 0 20px;

        @include breakpoint(laptop) {
            font-size: 24px;
            margin: 30px 0 40px;
        }
    }

    &__button {
        padding: 12.5px 20px;

        @include breakpoint(laptop) {
            padding: 17.5px 50px;
        }
    }
}