.checkbox {
    
    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        position: relative;
        cursor: pointer;
        font-size: 18px;
        user-select: none;

        &--border {
            border-top: solid 1px $site-gray--mild;
        }
    }

    &__left,
    &__right {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        justify-content: space-between;
    }

    &__right {
        padding-right: 30px;
    }

    &__text {
        font-size: 18px;
        font-weight: 300;
        margin: 0;

        b {
            font-weight: 400;
        }
        &--small {
            font-size: 14px;
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    &__custom {
        position: absolute;
        top: 10px;
        right: 34px;
        height: 21px;
        width: 21px;
        border: solid 1px $site-input;
        border-radius: 5px;
    
        :checked ~ & {
            border: solid 2px $site-primary;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: $checkmark;
                background-size: 75%;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    
        :hover ~ & {
            border: solid 2px $site-primary;
        }
    }
}
