
.crumbs {
    margin-top: 35px;
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    &__link {
        position: relative;
        color: black;

        &:not(:last-child) {
            margin-right: 25px;

            &:after {
                content: '/';
                position: absolute;
                right: -15px;
                top: 0;
                font-size: 20px;
            }
        }

        &--active {
            text-decoration: none;
            pointer-events: none;
            color: $site-gray--dark;
        }
    }

    &__item {

    }
}