
.description {
    display: flex;
    flex-direction: column;
    
    @include breakpoint(ipad-pro) {
        flex-direction: row;
    }

    &__info {
        flex: 0 1 50%;
        list-style: none;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        margin: 0;
    }

    &__text {
        font-weight: 300;
        margin: 0;
    }

    &__list {
        list-style-type: disc;
        padding-left: 1em;
        font-weight: 300;
    }

    &__images {
        flex: 0 0 50%;
        
        @include breakpoint(ipad-pro) {
            padding: 90px 30px 0 100px;
        }
    }

    &__image-container {
        position: relative;
        height: calc(1.46 * 40vw);
        max-height: 825px;
        width: 100%;
        background-color: $site-gray;
    }

    &__image {
        height: 100%;
        max-height: 825px;
    }

    &__caption {
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    &__caption-text {
        margin: 0;

        &:not(:first-child) {
            margin-left: 80px;
        }
    }
}