
.entry {
    display: flex;

    &--no-banner {
        margin-top: 50px;
    }

    &__content {
        width: 620px;
        margin-left: 85px;
    }

    &__title {
        font-size: 36px;
        font-weight: 400;
        line-height: 50px;
        margin: 0;
    }

    &__ingress {
        font-size: 22px;
        line-height: 30px;
        margin: 20px 0 40px;
    }

    &__subtitle {
        font-size: 26px;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    &__paragraph {
        font-weight: 300;
    }

    &__link {
        color: $site-secondary;
    }
}