
.favorites {

    &__title {
        font-size: 36px;
        font-weight: 400;
    }

    
    &__list {
        position: relative;
        list-style: none;
    }

    &__link {
        position: absolute;
        right: 0;
        top: -35px;
        color: $site-primary;
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: calc(100vw - 32px);
        border: solid 1px $site-gray--dark;
        padding: 32px 0;

        &:not(:first-child) {
            margin-top: 35px;
        }

        @include breakpoint(ipad-pro) {
            padding: 0;
            flex-direction: row;
        }
    }

    &__image {
        max-width: 250px;
        margin: 0 auto;
    }

    &__content {
        flex: 0 1 100%;
        text-align: center;
        
        @include breakpoint(ipad-pro) {
            text-align: left;
            padding-left: 35px;
            flex: 0 1 50%;
        }
    }

    &__subtitle {
        font-size: 24px;
        margin: 50px 0 0;
    }

    &__info {
        font-size: 16px;
        line-height: 22px;
        color: $site-primary;
        margin-top: 32px;

        @include breakpoint(ipad-pro) {
            margin-top: 75px;
        }
    }

    &__italic {
        font-style: italic;
        margin-top: 40px;
    }

    &__price-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 1 100%;
        
        @include breakpoint(ipad-pro) {
            flex-direction: column;
            align-items: flex-start;
            padding-left: 85px;
            flex: 0 1 50%;
        }
    }

    &__price-text {
        font-size: 20px;
        line-height: 24px;
        margin: 0;
    }

    &__price {
        font-size: 22px;
        line-height: 36px;
        margin: 0 0 0 16px;
    }

    &__button {
        cursor: pointer;
        padding: 12.5px 52.5px;
        width: 360px;
        max-width: calc(100% - 32px);
        margin: 32px auto 0;

        &--delete {
            position: absolute;
            right: 10px;
            top: -20px;
            width: 30px;
            height: 50px;
            bottom: auto;
            border: none;
            background-color: transparent;
            background-image: $delete;
            background-repeat: no-repeat;
            background-position: center top;
            padding: 30px 0 0;
            text-decoration: underline;

            @include breakpoint(ipad-pro) {
                top: 20px;
                right: 20px;
            }
        }

        @include breakpoint(ipad-pro) {
            position: absolute;
            right: 35px;
            bottom: 35px;
        }
    }
}