
.filters {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(ipad-pro) {
        flex-direction: row;
    }

    &__column {
        &:not(:first-child) {
            margin: 32px 0 0 0;
        }
        @include breakpoint(ipad-pro) {
            &:not(:first-child) {
                margin: 0 0 0 35px;
            }
        }
    }

    &__filter {
        position: relative;
        font-size: 14px;
        padding: 13px 10px;
        width: 340px;
        height: 45px;
        border: solid 1px $site-input;
        user-select: none;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            right: 23px;
            width: 15px;
            height: 15px;
            top: 16px;
            background-image: $gallery_arrow;
            background-size: contain;
            transform: rotate(-90deg);
        }

        &--active {
            background-color: black;
            color: white;

            &:after {
                filter: brightness(100);
            }
        }
    }

    &__options {
        display: none !important;
        position: absolute;
        z-index: 10;
        width: calc(100% + 2px);
        top: 43px;
        left: -1px;
        color: black;
        background-color: white;
        border: solid 1px $site-input;
        padding: 30px 20px;

        &--active {
            display: block !important;
        }
    }

    &__selected {
        position: relative;
        font-size: 14px;
        padding: 13px 10px;
        width: 340px;
        height: 45px;
        border: solid 1px $site-input;
        user-select: none;
        margin-top: 25px;
        color: white;
        background-color: $site-secondary;

        &:after {
            content: '';
            position: absolute;
            right: 23px;
            width: 15px;
            height: 15px;
            top: 16px;
            background-image: $x;
            background-size: contain;
        }
    }
}