
.footer {
    &__row {
        padding: 30px 0;
        background-color: $site-gray;

        &--black {
            padding: 32px 0;
            background-color: black;

            @include breakpoint(ipad) {
                padding: 80px 0 100px;
            }
        }
    }

    &__list {
        display: flex;
        list-style: none;
        flex-direction: column;

        @include breakpoint(ipad-pro) {
            flex-direction: row;
        }
    }

    &__item {
        color: white;

        &:not(:first-child) {
            margin-top: 16px;
        }

        @include breakpoint(ipad-pro) {
            flex: 0 1 25%;
        }
    }

    &__title {
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        text-align: center;

        @include breakpoint(ipad-pro) {
            text-align: left;
            margin: 0 0 35px;
        }
    }

    &__links {
        list-style: none;
        text-align: center;

        @include breakpoint(ipad-pro) {
            text-align: left;
        }
    }

    &__link {
        color: white;
        line-height: 28px;
        text-decoration: none;
    }

    &__search {
        display: flex;
        width: 100%;
        height: 50px;
        margin-top: 32px;

        @include breakpoint(ipad-pro) {
            margin: 0;
        }
    }

    &__input {
        flex: 0 1 75%;
        height: 100%;
        padding: 10px 10px 10px 20px;
        font-size: 18px;
    }

    &__button {
        flex: 0 1 25%;
        height: 100%;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        @include breakpoint(ipad-pro) {
            height: 40px;
            flex-direction: row;
        }
    }

    &__text-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include breakpoint(ipad-pro) {
            flex-direction: row;
        }
    }

    &__logo-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include breakpoint(ipad-pro) {
            flex-direction: row;
        }
    }

    &__text {
        font-weight: 300;
        margin: 0;

        &:not(:first-child) {
            margin-left: 25px;
        }
    }

    &__logo {
        height: 40px;
        margin-top: 16px;

        @include breakpoint(ipad-pro) {
            margin-top: 0;

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}
