
.form {

    &__title {
        font-size: 22px;
        font-weight: 400;
        margin-top: 35px;
    }

    &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;

        &--inline {
            flex-direction: row;
        }
    }

    &__text {
        flex: 0 0 150px;
        margin: 0;
        padding-top: 10px;
        color: $site-gray--dark;
        font-weight: 300;

        &--block {
            flex: 0 0 auto;
        }
    }

    &__comment {
        font-size: 15px;
        font-weight: 300;
        margin-left: 150px;
    }

    &__input,
    &__select,
    &__textarea {
        padding: 12.5px 20px;
        flex: 0 1 100%;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px $site-gray--dark;
        width: 100%;

        &--half {
            flex: 0 1 calc((100% - 150px) / 2);
        }

        &--gray {
            background: $site-input-bg;
        }
    }

    &__select {
        background-image: $form_arrow;
        background-repeat: no-repeat;
        background-position: calc(100% - 20px) 60%;

        /* hide the default arrow */
        appearance: none;

        /* ie10 and ie11 */
        &::-ms-expand { 
            display: none; 
        }
    }

    &__textarea {
        height: 100px;
        resize: none;
    }

    &__buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 65px;
    }

    &__link {
        color: $site-gray--dark;
        margin-right: 50px;
    }

    &__button {
        padding: 14px 31px;

        &--wide {
            padding: 14px 75px;
        }
    }
}
