.heart {
    position: absolute;
    right: 0;
    width: 28px;
    height: 26px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    outline: none;
    display: none;
    cursor: pointer;
    background-image: $heart;

    &--active {
        display: inline-block;
        background-image: $heart_red;
    }
}