
.header {

    &__row {
        height: 85px;
        background-color: black;

        &--transparent {
            background-color: transparent;
        }

        &--subheader {
            position: absolute;
            top: 85px;
            left: 0;
            right: 0;
            z-index: 20;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        height: 40px;
        margin: 22.5px 0;

        @include breakpoint(ipad) {
            height: 65px;
            margin: 10px 0;
        }

        &--frontpage {
            opacity: 0;
        }
        
        &--subheader {
            position: absolute;
            top: -85px;

            @include breakpoint(ipad-pro) {
                position: relative;
                top: 0;
                display: block;
            }
        }
    }

    &__list {
        display: flex;
        list-style: none;
        height: 25px;
        margin: 35px 0 30px;

        &--subheader {
            display: none;

            @include breakpoint(ipad-pro) {
                display: flex;
            }
        }
    }

    &__link {
        color: white;
        text-decoration: none;
        @include transition(color);

        &:not(:first-child) {
            margin-left: 25px;
        }

        &:hover {
            color: $site-secondary;
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 22px;
        height: 22px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        &--menu {
            background-image: $menu;
        }

        &--cart {
            background-image: $cart;
        }
    }

    &__text {
        display: none;
        font-size: 18px;
        margin: 0 0 0 10px;

        @include breakpoint(ipad) {
            display: block;
        }
    }
}