
.modal {
    position: fixed;
    z-index: 30;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);

    &__content {
        width: 980px;
        max-height: calc(100vh - 70px); 
        background-color: white;
        margin: 35px auto 0;
        padding: 70px 225px 70px 140px;
    }

    &__apostrophe {
        color: $site-primary;
        font-weight: 300;
    }
    
    &__title {
        font-size: 36px;
        font-weight: 500;
        margin: 0;
    }

    &__ingress {
        font-weight: 300;
    }
}