
.product-info {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    
    @include breakpoint(ipad) {
        padding: 0 0 0 16px;
    }

    @include breakpoint(ipad-pro) {
        justify-content: space-between;
        padding: 0 32px;
    }

    @include breakpoint(desktop) {
        padding: 0 100px 0 125px;
        flex: 0 1 50%;
    }

    &__title {
        font-size: 25px;
        font-weight: 400;
        margin: 0;
        
        @include breakpoint(ipad-pro) {
            font-size: 36px;
        }
    }

    &__price {
        font-weight: bold;
        font-size: 50px;
        margin: 16px 0;
        
        @include breakpoint(ipad-pro) {
            margin-bottom: 30px;
            font-size: 68px;
        }
    }

    &__ingress {
        font-weight: 300;
        line-height: 24px;
    }

    &__details {
        color: $site-secondary;
        cursor: pointer;
        background-image: $details_arrow;
        background-repeat: no-repeat;
        background-size: 13.5px;
        padding-left: 25px;
    }

    &__info-container {
        margin-bottom: 10px;
    
        &:first-child {
            margin-top: 10px;
        }

        @include breakpoint(ipad-pro) {
            margin-bottom: 35px;
    
            &:first-child {
                margin-top: 35px;
            }            
        }
    }

    &__info {
        margin: 0;
        font-size: 14px;
        line-height: 28px;
    }

    &__disclaimer {
        font-size: 16px;
        line-height: 22px;
        color: $site-primary;
        margin: 0;
    }

    &__link {
        color: $site-primary;
        font-size: 14px;
    }

    &__button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    &__button {
        flex: 0 0 80%;
        height: 50px;

    }
}