.product-gallery {
    display: flex;
    flex-direction: column-reverse;
    flex: 0 0 60%;

    @include breakpoint(ipad-pro) {
        flex-direction: row;
        flex: 0 0 50%;
    }

    &__images {
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        height: 150px;
        flex: 0 0 20%;
        max-height: 825px;
        overflow: hidden;
        margin-bottom: 32px;
        
        @include breakpoint(ipad) {
            margin-bottom: 0;
        }

        @include breakpoint(ipad-pro) {
            height: calc(1.46 * 40vw);
            flex-direction: column;
        }
    }

    &__image {
        position: relative;
        height: calc(1.46 * 40vw); 
        max-height: 825px;
        background-color: $site-gray;
        flex: 0 0 80%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__preview-image {
        width: 90px;
        height: 129px;
        background-color: $site-gray;
        margin-top: 16px;

        &:not(:first-child) {
            margin-left: 7px;
        }
        
        &:nth-child(n + 5) {
            display: none;
        }
        @include breakpoint(1100) {
            &:not(:first-child) {
                margin-left: 0;
            }
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            &:nth-child(5) {
                display: block;
            }
        }
        @include breakpoint(desktop) {
            &:nth-child(6) {
                display: block;
            }
        }
    }

    &__navigation {
        display: none;
        position: absolute;
        width: 100%;

        @include breakpoint(ipad-pro) {
            display: block;
            top: 800px;
        }

        &--mobile {
            display: block; 

            .arrow--left {
                width: 20px;
                height: 20px;
                left: 0;
            }

            .arrow--right {
                width: 20px;
                height: 20px;
                right: 0;
            }

            @include breakpoint(ipad-pro) {
                display: none;
                bottom: 0;
            }
        }
    }
}