.product-grid {

    &__item {
        position: relative;
        margin: 35px 0;
    }

    &__link {
        text-decoration: none;
        &:hover {
            .heart {
                display: inline-block;
            }
        }
    }

    &__image {
        display: flex;
        align-items: center;
        background-color: white;
    }

    &__title {
        color: black;
        font-size: 18px;
        line-height: 30px;
        font-weight: 300;
        padding: 0 16px;
    }
}