.radio {
    display: flex;
    margin-bottom: 35px;
    justify-content: center;

    @include breakpoint(ipad-pro) {
        justify-content: flex-start;
    }

    &--dropdown {
        display: block;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 35px;
        width: 35px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
    
        &:not(:first-child) {
            margin-left: 7px;
        }

        @include breakpoint(ipad-pro) {
            height: 53px;
            width: 53px;
            font-size: 18px;
        }

        &--inactive {
            background: linear-gradient(
                to top right,
                #0000 0%,
                #0000 calc(50% - 0.8px),
                $site-input 50%,
                #0000 calc(50% + 0.8px),
                #0000 100%
            );
            color: $site-input;
            pointer-events: none;
        }

        &--secondary {
            &:hover {
                color: white;
            }
        }

        &--dropdown {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            width: 100%;
            padding: 10px 0;

            &:not(:first-child) {
                margin-left: 0;
            }
        }
    }
    
    &__input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__text {
        font-size: 14px;
        margin: 0;
    }
    
    &__custom {
        position: absolute;
        top: 0;
        left: 0;
        height: 35px;
        width: 35px;
        border: solid 1px $site-input;
        z-index: -1;
    
        @include breakpoint(ipad-pro) {
            height: 53px;
            width: 53px;
        }

        :checked ~ & {
            border: solid 2px $site-primary;
        }
    
        :hover ~ & {
            border: solid 2px $site-primary;
        }

        &--secondary {
            :checked ~ & {
                border: solid 1px $site-input;
                background-color: $site-secondary;
                color: white;
            }
        
            :hover ~ & {
                border: solid 1px $site-input;
                background-color: $site-secondary;
                color: white;
            }
        }
        
        &--dropdown {
            top: 10px;
            left: auto;
            right: 0;
            height: 21px;
            width: 21px;
            border-radius: 5px;
        
            :checked ~ & {
                border: solid 2px $site-primary;

                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: $checkmark;
                    background-size: 75%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        
            :hover ~ & {
                border: solid 2px $site-primary;
            }
        }
    }
}
