
.section {
    padding-top: 50px;

    @include breakpoint(ipad-pro) {
        padding-top: 130px;
    }

    &--no-padding {
        padding-top: 0;
    }
    
    &__title {
        font-size: 20px;
        font-weight: 300;
        color: $site-gray--dark;
        margin-bottom: 10px;
    }

    &__separator {
        margin: 0;
        color: $site-gray--mild; 
        border-style: solid;
    }
}