
.share {
    display: flex;
    list-style: none;
    margin-top: 50px;

    &__item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__icon {
        background-size: contain;
        background-repeat: no-repeat;

        &--fb {
            width: 29px;
            height: 29px;
            background-image: $facebook;
        }

        &--email {
            height: 27px;
            width: 35px;
            background-image: $email;
        }
    }

    &__text {
        margin: 0 0 0 20px;
    }
}