
.text-and-image {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include breakpoint(ipad) {
        flex-direction: row;
    }

    &--reverse {
        flex-direction: column-reverse;

        @include breakpoint(ipad) {
            flex-direction: row-reverse;
        }
    }

    &__image {
        flex: 0 1 50%;
        
        @include breakpoint(ipad) {
            max-height: 44.38vw;
            max-width: 50%;
        }
    }

    &__text {
        flex: 0 0 50%;
        background-color: $site-secondary;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 32px;

        @include breakpoint(ipad) {
            padding: 0 16px;
        }
    }

    &__title {
        font-size: 35px;
        font-weight: 400;
        margin: 0;

        @include breakpoint(ipad-pro) {
            font-size: 68px;
        }
    }

    &__ingress {
        font-size: 18px;
        font-weight: 300;
        margin: 20px 0;

        @include breakpoint(ipad-pro) {
            font-size: 24px;
            margin: 50px 0;
        }
    }

    &__button {
        padding: 10px 20px;
    }
}